
    @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

        body{
            /*background-color: aqua;*/
            font-size: 16px;
            margin: 0px;
            padding: 0px;
            font-family: "Microsoft YaHei";
            outline: none;
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            outline: none;
        }
        a:hover{
            text-decoration: none;
        }
        img{
            border: 0px;
            border-image-width: 0px;
            padding: 0px;
            margin: 0px;
        }

        .top {
            animation: fade-inn;/*动画名称*/
            animation-duration: 1.5s;/*动画持续时间*/
            -webkit-animation:fade-inn 1.5s;/*针对webkit内核*/
        }
        /*nav*/
        .mobile_head{
            width: 100%;
            height: auto;
            margin-bottom: 30px;
            float: left;
        }
        .mobile_img{
            width: 90px;
            height: auto;
            float: left;
            margin: 10px 0px 0px 2%;
        }
        .nav_mobile{
            width: 35px;
            margin: 8px 2% 0px 0px;
            float: right;
            text-align: right;
            font-size: 3rem;
        }
        nav{
            height: 0px;
            width: 100%;
            top:0;
            position: absolute;
            top: 50px;;
            z-index: 999;
            display: none;
        }
        nav img{
            width: 105px;
            height: auto;
            float: left;
            margin-top: 8px;
            margin-left: 12%;
            display: none;
        }
        nav ul{
            width: 100%;
            margin: 0px;
            padding: 0px;
            background-color: #fafafa;
            float: right;
        }
        nav ul li{
            list-style: none;
            float: left;
            font-size: 16px;
            width: 100%;
            height: 50px;
            margin: 0px 0px 0px ;
            color: #787878;
            line-height: 50px;
            display: inline;
            background-color: #fafafa;
            border-bottom: 1px solid rgba(240, 240, 240, 0.64);
            letter-spacing: 3px;
            text-align: center;
        }
        nav ul li a{
            display: inline-block;
            width: 100%;
            height: 31px;
            line-height: 31px;
            margin: 0px;
            overflow: hidden;
        }
        .nav_tul1{
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 31px;
            background-color: #ffffff;
            position: relative;
            top: 50px;
            display: none;
        }
        .nav_tul2{
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: auto;
            background-color: #a6a6a6;
            position: relative;
            top: 0px;
            display: none;
        }
        .nav_tul2 a{
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
            height: 100%;

            line-height: 50px;
        }
        .nav_tul2 li{
            border: 0px;
        }
        .nav_tul1 img{
            margin: 0px;
            padding: 0px;
            width: 85px;
            height: 85px;
            display: none;
        }
        .nav_tli{
            padding: 0px;
            margin: 0px;
            margin-top: 5px;
            font-size: 16px;
            width: 100%;
            height: 30px;
            line-height: 30px;
            float: left;
            background-color: #e0e0e0;
        }
        /*mobile image*/
        .mobile_image{
            width: 100%;
            overflow: hidden;
        }
        /*img display:none*/
        .jumpic4{
            width: 100%;
            height: auto;
            position: relative;
            top: -20px;
        }
        /*smart city*/
        .smart_city{
            width: 100%;
            height: auto;
            float: left;
            margin-top: 30px;
        }
        .sc_left,.sc_right{
            height: 28px;
            width: 49%;
            float: left;
        }
        .sc_left{
            text-align: right;
            padding-right: 1%;
            color: rgb(255, 121, 0);
            font-size: 22px;
        }
        .sc_right{
            padding-left: 1%;
            color: #868686;
            font-size: 22px;
        }
        .sc_sc{
            width: 40%;
            height: auto;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 0px;
            margin-bottom: 10px;
            text-align: center;
            float: left;
            color: #484848;
            font-size: 1.2rem;
            display: none;

        }
        .sc_four{
            width: 100%;
            height: auto;
            float: left;
            margin-bottom: 15px;
            margin-top: 35px;
        }
        .sc_four_one,.sc_four_two,.sc_four_three,.sc_four_four{
            width: 90%;
            height: auto;
            float: left;
            text-align: center;
            margin: 0px 5% 5px 5%;
        }
        .sc_four_one img,.sc_four_two img,.sc_four_three img,.sc_four_four img{
            width: 100%;
            height: auto;
        }
        .sc_title{
            color: #386AA7;
            font-size: 18px;
            font-family: "Microsoft YaHei";
        }
        .sc_en{
            height: auto;
            color: #858585;
            font-size: 14px;
            font-weight: bold;
            font-family: "Microsoft YaHei";
        }
        .sc_content{
            height: auto;
            color: #898989;
            font-size: 12px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            word-break: break-all;
        }
        /*product introduce*/
        .product_intro{
            height: auto;
            width: 100%;
            padding-bottom: 20px;
            float: left;
        }
        .pi_pi{
            width: 40%;
            height: auto;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 0px;
            margin-bottom: 60px;
            text-align: center;
            float: left;
            color: #d0d0d0;
            font-size: 1.2rem;
            display: none;
        }
        .pi_more:hover{
            text-decoration: underline;
            text-decoration-color: #005761;
        }
        .pi_four{
            width: 100%;
            margin-top: 30px;
            float: left;
        }
        .pi_four_one,.pi_four_two,.pi_four_three,.pi_four_four{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 30px;
            padding-bottom: 30px;
            /*background-color: rgb(242, 242, 242);*/
            border-radius: 5px;
            height: auto;
            margin-bottom: 30px;
            text-align: center;
            float: left;
        }
        .pi_img{
            width: 30%;
            border-radius: 2px;
        }
        .pi_content{
            width: 70%;
            margin-left: 15%;
            margin-top: 0px;
            margin-bottom: 0px;
            color: #797979;
            font-size: 14px;
            text-align: center;
        }
        .pi_more{
            width: 100%;
            font-size: 16px;
            text-align: center;
            float: left;
            color: #386AA7;
        }
        /*model*/
        .model{
            width: 100%;
            height: auto;
            float: left;
        }
        .model_img{
            height: 250px;
            background-image: url("../images/model_mobile.png");
            background-repeat:no-repeat;
            background-size: 100%;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .model_three{
            width: 100%;
            height: auto;
            padding-top: 10px;
            margin-left: 0%;
            text-align: center;
        }
        .model_title{
            font-size: 18px;
            color: rgb(255, 121, 0);
            margin-bottom: 10px;
        }
        .model_content{
            width: 90%;
            margin-left: 5%;
            font-size: 14px;
            color: #ececec;
        }
        .model_button{
            width: 70px;
            height: 70px;
            margin-top: 15px;
            margin-left: 42.5%;
            border-radius: 45px;
            background-color: rgba(255, 85, 0, 0.47);
        }
        .model_button1{
            font-size: 16px;
            color: #ffffff;
            padding-top: 7px;
            padding-left: 0px;
            width: 60px;
            height: 52px;
            position: relative;
            top:5px;
            left: 5px;
            border-radius: 45px;
            background-color: rgb(255, 85, 0);
        }
        .model_button:hover{
            background-color: #e2e2e2;
            box-shadow: 0px 0px 50px rgba(255, 85, 0, 0.47);
            cursor: pointer;
        }
        /*news*/
        .news{
            height: auto;
            width: 100%;
            float: left;
            margin-bottom: 30px;
            background-color: #f5f5f5;
        }
        .news_left{
            width: 45%;
            text-align: right;
            padding-left: 4%;
            padding-right: 1%;
            color: rgb(255, 121, 0);
            font-size: 22px;
            float: left;
        }
        .news_right{
            width: 45%;
            padding-left: 1%;
            padding-right: 4%;
            color: #868686;
            font-size: 22px;
            float: left;
        }
        .news_four{
            width: 100%;
            float: left;
        }
        .news_f_one{
            width: 95%;
            margin-left: 2.2%;
            margin-right: 2.2%;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #ffffff;
            height: auto;
            padding-top: 10px;
            padding-bottom: 5px;
            overflow: hidden;
            box-shadow: 0 0 3px rgba(189, 189, 189, 0.75);
        }
        .news_f_one img{
            width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
        .news_one_title{
            font-size: 16px;
            color: #717171;
            width: 90%;
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .news_one_content{
            font-size: 16px;
            color: #868686;
            text-align: left;
            text-indent: 2ch;
            word-break:break-all;
            position: relative; line-height: 20px; max-height: 140px;overflow: hidden;
            width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
        #news_time1,#news_time2,#news_time3,#news_time4{
            color: #7f7f7f;
            font-size: 12px;
            margin-left: 3%;
        }
        .news_more{
            font-size: 18px;
            line-height: 40px;
            width: 95%;
            height: 40px;
            margin-left: 2.5%;
            float: left;
            text-align: center;
            background-color: rgba(7, 170, 175, 0.87);
            border-radius: 3px;
            color: #f8f8f8;
        }
        /*news pic*/
        .news_six{
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }
        .zz{
            width: 90%;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            margin-left: 5%;
            margin-right: 5%;
            word-break: break-all;
            padding-top: 0px;
            color: #7d7d7d;
            position: relative;
            bottom: -60%;
        }
        /*.operation case*/
        .operation_case{
            width: 100%;
            height: auto;

            margin-bottom: 0px;
            float: left;
            /*background-color: #00a0e9;*/
            background-color: rgba(255, 255, 255, 0.7);
        }
        .oc_left{
            display: none;
            text-align: right;
            padding-left: 4%;
            padding-right: 1%;
            color: rgb(255, 121, 0);
            font-size: 1.75rem;
            width: 45%;
            float: left;
        }
        .oc_right{
            display: none;
            padding-left: 1%;
            padding-right: 4%;
            color: #868686;
            font-size: 1.75rem;
            width: 45%;
            float: left;
        }
        .oc_four{
            width: 100%;
            height: auto;
            float: left;
        }
        .oc_f_one{
            width: 95%;
            height: 100px;
            margin-left: 1.25%;
            margin-right: 1.25%;
            margin-bottom: 10px;
            padding: 5px;
            float: left;
            box-shadow: 0 0 3px rgba(189, 189, 189, 0.75);
        }
        .oc_f_one a{
            margin: 0px;
            padding: 0px;
        }
        .oc_f_one img{
            width: 120px;
            height: 100px !important;
            border-radius: 2px;
            float: left;

        }
        .oc_title{
            width: 55%;
            font-size: 16px;
            color: #3c3c3c;
            margin-left: 2%;
            margin-top: 0px;
            float: left;
        }
        .oc_time{
            font-size: 12px;
            color: #6e6e6e;
            height: auto;
            margin-top: 10px;
            margin-left: 2%;
            margin-right: 5%;
            width: 50%;
            float: left;
        }
        .oc_more{
            font-size: 18px;
            font-weight: bold;
            line-height: 80px;
            width: 80%;
            margin: 10%;
            height: 80px;
            float: left;
            text-align: center;
            border: 3px solid rgba(0, 107, 112, 0.3);
            background-color: rgb(255, 255, 255);
            color: rgba(0, 107, 112, 0.57);
        }
        /*anti*/
        .anti{
            width: 100%;
            height: auto;
            float: left;
            background-color: #eaeaea;
        }
        .anti_img{
            height: 300px;
            background-image: url("../images/anti_mobile.png");
            background-repeat:no-repeat;
            background-size: 100%;
        }
        .anti_left{
            width: 100%;
            height: auto;
            margin-left: 0%;
            text-align: center;
            float: left;
            position: relative;
            bottom: 0px;
        }
        .anti_title{
            margin-top: 15%;
            margin-bottom: 5%;
            font-size: 20px;
            color: rgb(255, 121, 0);
            font-weight: bold;
        }
        .anti_content{
            font-size: 14px;
            color: #7c7c7c;
        }
        .anti_right{
            width: 20%;
            height: auto;
            margin-right: 10%;
            float: left;
            position: relative;
            top: -180px;
            left: 70px;
        }
        .anti_logo{
            display: none;
        }
        .anti_logo img{
            width: 30%;
            float: right;
        }
        /*mix port three*/
        .mix{
            width: 100%;
            height: auto;
            margin-bottom: 50px;
            float: left;
        }
        .mix_three{
            width: 95%;
            height: auto;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
        .mix_t_one{
            width: 90%;
            height: auto;
            background-color: rgba(249, 95, 11, 0.51);
            border-radius: 5px;
            margin: 0px 0px 5px 0px;
            padding-left: 5%;
            padding-right: 3%;
            float: left;
        }
        .mix_t_one h2{
            font-size: 16px;
            font-weight: 100;
            color: #ffffff;
            width: auto;
            display: inline-block;
        }
        .mix_t_one h2:hover{
            text-decoration: solid;
        }
        .mix_more{
            width: 20px;
            height: 20px;
            font-size: 16px;
            text-align: center;
            line-height: 20px;
            float: right;
            color: #e0e0e0;
            margin-top: 16px;
            margin-right: 15px;
        }
        .mix_more:hover{
            transform:rotate(17deg);
            -ms-transform:rotate(17deg); 	/* IE 9 */
            -moz-transform:rotate(17deg); 	/* Firefox */
            -webkit-transform:rotate(17deg); /* Safari 和 Chrome */
            -o-transform:rotate(17deg); 	/* Opera */
        }
        .mix_t_one p{
            display: none;
            color: #7e7e7e;
            margin-top: 3px;
            margin-bottom: 3px;
        }
        /*footer*/
        footer{
            height: auto;
            background-color: #2c2c2c;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #dddddd;
            float: left;
        }
        .footer_p{
            display: none;
            font-size: 20px;
            margin: 0px;
            padding: 0px;
            color: #aeaeb0;
        }
        .footer_a{
            text-decoration: none;
            color: #54dd5c;
        }
        .footer_a:hover{
            cursor: pointer;
            text-decoration: none;
            color: green;
        }
        .footer_one{
            font-size: 12px;
            text-align: center;
            margin: 0px;
            padding: 0px;
            height: auto;
            overflow: hidden;
            position: relative;
            color: #aeaeb0;
        }
        .footer_overflow{
            height: auto;
            width: 100%;
            overflow: hidden;
        }
        .footer_img{
            display: none;
        }
        /*fixed*/
        .fixed_top{
            display: none;
            width: 0px;
            height: 0px;
            font-size: 0px;

        }
        #page a{font-size: 35px;}
        #page span{
            font-size: 35px;
        }
    }